/* Добрый день!
   Благодарю за проверку!
   Я совершенно не понимаю, что подразумевается под деформированием этой кнопки.
   1) "Плюс" внутри прямоугольника отцентрован на всём адаптиве -- это можно проверить 
      даже на том скриншоте, который был приложен к ревью;
   2) Когда кнопка становится квадратной, она остаётся такой вплоть до мобильного 
      разрешения -- опять же, "квадратность" можно проверить на скриншоте;
   3) Если дело в том, что кнопка не должна быть квадратной при средних разрешениях, 
      то она может быть такой: а) потому что так красиво; б) потому что это было согласовано 
      в беседе с наставником;
   4) Если дело в том, что размер "плюса" должен уменьшаться только при мобильном разрешении,
      то теперь я так и сделал. Других возможных изменений я просто не представляю. Если
      это опять не то, то напишите, пожалуйста, более подробно, что понимается под 
      деформированием в этом случае, потому что пропорции и центрирование сохраняются 
      на всём адаптиве.
   Спасибо! */

.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: inherit;
    background-image: url(../../../images/add_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    transition: opacity .2s ease-out;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 820px) {
    .profile__add-button {
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    .profile__add-button {
        margin-left: 0;
        width: 100%;
        margin-top: 33px;
        background-size: 16px;
    }
}